<div class="wrapper">
  <div class="header">
    <div *ngIf="!authService.currentUserSig()" class="header-buttons">
      <button (click)="login()" class="header-buttons-button">login</button>

      <button (click)="register()" class="header-buttons-button">
        register
      </button>
    </div>

    <div *ngIf="!!authService.currentUserSig()" class="header-buttons">
      <span>{{ authService.currentUserSig()?.username }}</span>
      <button (click)="logout()" class="header-buttons-button">logout</button>
    </div>
  </div>
</div>
