$color-primary-1000: #548d27;
$color-primary-900: #65ab3c;
$color-primary-800: #7abf47;
$color-primary-750: #5ac802;
$color-primary-740: #8add49;
$color-primary-700: #8bca58;
$color-primary-600: #8ac858;
$color-primary-500: #9fd177;
$color-primary-400: #c5e4ac;
$color-primary-200: #edffde;
$color-primary-100: #f8fff2;
$color-primary-50: #f8fff2;

$color-black-940: #1b1e24;
$color-black-920: #212121;
$color-black-900: #212121;
$color-black-800: #444850;
$color-black-700: #70737b;
$color-black-600: #b0b3bb;
$color-black-500: #d8dadd;
$color-black-440: #e7e8ea;
$color-black-430: #f3f4f5;
$color-black-420: #e9e9e9;
$color-black-400: #e9e9e9;
$color-black-300: #fafafc;
$color-black-200: #f9f9fb;
$color-black-100: #f9f9fb;
