<div class="wrapper">
  <div class="row">
    <div class="column">
      <img
        class="image"
        src="../../../assets/bigfoot.svg"
        alt="Ой, а тут картинка бигфута"
      />
    </div>
    <div class="column">
      <div>
        <p class="text">
          Упс... <br />
          Что-то вы зашли куда-то не туда <br />
          Вернитесь, пожалуйста, на главную страницу... <br />
          Пока Бигфут не съел вас
        </p>
      </div>
      <div>
        <button class="button" [routerLink]="['/courses']">
          На главную страницу
        </button>
      </div>
    </div>
  </div>
</div>
