$color-primary-700: #8bca58;
$color-black-700: #70737b;
.wrapper {
  padding: 20px 5px 20px 5px;
  max-width: 400px;
  margin: 10px;
  min-width: 200px;
}

.item {
  display: flex;
  flex-direction: column;
  cursor: pointer;

  &-content {
    display: flex;
    flex-direction: column;
  }
}
.section,
.header,
.rate {
  font-weight: 600;
  color: black;
  text-overflow: ellipsis;
}
.author,
.gradeCount {
  color: $color-black-700;
  font-size: 0.8rem;
}
